@import url("https://fonts.googleapis.com/css?family=Martian+Mono");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono", monospace;
    font-size: 14pt;
}

.header {
    position: fixed;
    height: 32px;
    width: 100%;
    background: #04f30f;
    z-index: 999999999999;
}
.header > img {
    height: 100%;
    margin: auto;
    display: block;
    padding: 8px 0px 8px 0px;
}